div.wrap-compare-item{
  display: flex;
  padding: 15px;
  border: 1px solid rgb(159, 157, 157);
  border-radius: 5px;
}

div.wrap-compare-item .wrap-img img{
  width: 250px;
  height: 200px;
}
div.wrap-compare-item button{
  width: 100;
  display: block;
  margin: 23px auto 0 auto;
}
div.wrap-compare-item  .wrap-desc{
  width: 100%;
}

@media (max-width: 650px){
  div.wrap-compare-item{
    flex-direction: column;
  }
}
